{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    {% if request.path == "/change_password" %}
        <form action="/change_password" method="post">
    {% elif request.path == "/confirm_change_password" %}
        <form action="/confirm_change_password" method="post">
    {% endif %}
    <div class="mb-3">
        <p><b>
            Enter
            {% if request.path == "/change_password" %}
                Old
            {% elif request.path == "/confirm_change_password" %}
                New
            {% endif %}
            Password
        </b></p>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">
        Confirm
        {% if request.path == "/change_password" %}
            Old
        {% elif request.path == "/confirm_change_password" %}
            New
        {% endif %}
        Password
    </button>
    </form>
{% endblock %}
